@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.pink-link {
	background: linear-gradient(to bottom, #7e5c8f, #cb4b5e, #cc433f);
    background-clip: border-box;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.pink-link:hover {
	text-decoration: underline solid #cc433f;
}
/* Default Light Mode Styles */
body.bg-light {
    background-color: #f8f9fa;
    color: #212529;
}

/* Dark Mode Styles */
body.bg-dark {
    background-color: #212529;
    color: #f8f9fa;
}

.dark-mode .bg-light {
    background-color: #343a40 !important;
}