@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
}

.img-fluid {
    width: 100%;
    height: auto;
}


.pink-link {
	color: #D90368;
}

.pink-link:hover {
	color: #B50356;
}

.purple-link {
	color: #541388;
}

.purple-link:hover {
	color: #420F6B;
}

.yellow-link {
	color: #FFD400;
}

.yellow-link:hover {
	color: #E0BB00;
}